@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Euclid Circular A', sans-serif;
}
.colorInput::-webkit-color-swatch-wrapper {
  padding: 0;
  width: 100%;
}
.colorInput::-webkit-color-swatch {
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

/* No Scrollbar */
::-webkit-scrollbar {
  display: none;
}
